.read-more {
    border: 1px solid #4183C4;
    padding: 1px 5px;
    font-style: normal;
    font-size: .8rem;
    border-radius: 12px;
    // border-radius: 0 12px 12px 0;
    text-transform: uppercase!important;
}

.tag {
    border: 1px solid #4183C4;
    color: #4183C4;
    font-style: normal;
    font-size: .8rem;
    padding: 1px 5px;
    border-radius: 12px;
    // border-radius: 0 12px 12px 0;
    text-transform: uppercase!important;
}